@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

:root{
    --textcolor: #565d62;
    --buttoncolor: #ffff;
    --bordercolor: #d9e0e6;
}


/*Общие теги*/
html{
    scroll-behavior: smooth;
    scroll-padding-top: 25px;
}

.page > .first > header{
    margin-top: 3.5em
}

.page{
    display: flex;
    justify-content: center;
    max-width: 2250px;
    margin: 0 auto;
    color: var(--textcolor);
    font-family:  'Noto Sans', sans-serif; 
    z-index: 1;
}

.section{
    text-align: center;
    /*margin-top: 0.2em;*/
    font-size: 24px;
}

ul{
    list-style: none;
    padding: 0;
}

.link{
    text-decoration: none;
    color: inherit;
}

button{
    color: inherit;
    font-size: inherit;
    border: none;
}


/*Боковое меню*/
header{
    margin-top: 1.5em;
    margin-right: 1.5em;
    position: sticky;/*делает меню фиксированным к вверху*/
    top: 15px;/*регулирует расстояние во время прокрукти*/
}

.logo{
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;/*нужно для лучшего отображение изображения(хоть и улучшает это чуть-чуть)*/
}

.footer-list{
    border: 1.5px solid var(--bordercolor);      
    border-radius: 20px;
}

.footer-item{
    padding-top: 1em;
    padding-bottom: 0.5em;
}

.footer-name{
    padding-top: 15px;
}

/*Основное содержание*/
.card{
    margin-top: 1em;
    text-align: center;
    border: 1.5px solid var(--bordercolor); 
    border-radius: 10px;
}

.container-card{
    display: flex;
    max-width: 35em;
    align-items: center;
}


.title{
    margin-top: 4px;
    margin-bottom: 3px;
    font-size: 1em;
    font-weight: normal;
}

hr{
    padding: 0;
	height: 1px;
	border: none;
	border-top: 1px solid var(--bordercolor);
}

.pic-c{
    object-fit: cover;
    max-width: 12.3em;
    min-height: 14em;
    margin-left: 2em;
    border: 1.5px solid var(--bordercolor);      
    border-radius: 10px;
}

p{
    text-align: left;
    max-width: 21em;
    padding-left: 3em;
    font-size: 0.80em;
    padding-right: 2em;

}

.link-c{
    border: 1.5px solid var(--bordercolor); 
    border-radius: 20px;
    padding: 5px 5em;
    margin-bottom: 2.5em;
}

.button{
    margin-bottom: 0.5em;
    background-color: inherit;
}

.info{
    float: left;
}

.block:hover .interractive{
    transform: translate(0, 0); 
    opacity: 1;
}

.interractive{
    display: flex;
    flex-direction: column;
    transform: translate(-150px, 0);
    transition: 0.3s ease;
    opacity: 0;
}

.interractive-button{
    margin: 3em 0 0 1em ;
    padding: 1em 1em 1em 1em;
    border-radius: 100%;
    max-height: 98px;
}

.icon{
    max-width: 50px;
    max-height: 50px;
}